<h3>Discogs Pullsheet</h3>
<h6>Signed in as: {{username}}</h6>
  <table class="table table-striped">
    <tbody>
      {{#each orders}}
        <tr>
          <td>
            <h6>
              <span class="font-weight-bold mt-5">Order ID: </span><a href="https://www.discogs.com/sell/order/{{id}}" target="_blank">{{id}}</a><br>
              <span class="font-weight-bold">Created: </span>{{created}}<br>
              <span class="font-weight-bold">Status: </span>{{status}}<br>
              <span class="font-weight-bold">Shipping Amount: </span>${{shipping_amount}} ({{shipping_method}})<br>
              <span class="font-weight-bold">Order Total: </span>${{total}}<br>
              <span class="font-weight-bold">Additional Instructions: </span>{{additional_instructions}}<br>
              <span class="font-weight-bold">Discogs Shipping Address: </span><p><pre>{{shipping_address}}</pre></p>
              {{#if paypal_data.name}}
                <span class="font-weight-bold">PayPal Shipping Address: </span><p><pre>{{paypal_data.name}}<br>{{paypal_data.address_line1}}<br>{{paypal_data.address_line2}}<br>{{paypal_data.city}}, {{paypal_data.state}} {{paypal_data.postal_code}}<br>{{paypal_data.country_code}}</pre></p>
                <span class="font-weight-bold mt-5">Discogs Link: </span><a href="https://www.discogs.com/sell/order/{{id}}" target="_blank">https://www.discogs.com/sell/order/{{id}}</a><br>
                <span class="font-weight-bold">PayPal Shipping Link: </span><a href="https://www.paypal.com/shiplabel/create/{{paypal_data.transaction_id}}" target="_blank">https://www.paypal.com/shiplabel/create/{{paypal_data.transaction_id}}</a><br>
              {{/if}}
            </h6><br>
            {{#items}}
                  <div class="row mb-3">
                    <p>
                      <div class="col-4">
                        <img class="img-fluid" src="{{thumbnail}}" alt="{{description}}">
                      </div>
                      <div class="col-8">
                        {{description}}
                        <br>
                        Price: ${{price}}
                        <br>
                        Location: {{item_location}}
                      </div>
                    </p>
                  </div>
            {{/items}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
