<h3>Discogs Pullsheet</h3>
<h6>Signed in as: {{username}}</h6>
  <table class="table table-striped">
    <tbody>
      {{#each orders}}
        <tr>
          <td>
            <h6>
              <span class="font-weight-bold mt-5">Order ID: </span><a href="https://www.discogs.com/sell/order/{{id}}" target="_blank">{{id}}</a><br>
              <span class="font-weight-bold">Created: </span>{{created}}<br>
              <span class="font-weight-bold">Status: </span>{{status}}<br>
              <span class="font-weight-bold">Additional Instructions: </span>{{additional_instructions}}<br>
              <span class="font-weight-bold">Discogs Shipping Address: </span><pre>{{shipping_address}}</pre>
              <span class="font-weight-bold">PayPal Shipping Address: </span><pre>{{paypal_data.name}}<br>{{paypal_data.address_line1}}<br>{{paypal_data.address_line2}}<br>{{paypal_data.city}}, {{paypal_data.state}} {{paypal_data.postal_code}}<br>{{paypal_data.country_code}}</pre>
              <span class="font-weight-bold">PayPal Shipping Link: </span><a href="https://www.paypal.com/activity/payment/{{paypal_data.transaction_id}}" target="_blank">https://www.paypal.com/activity/payment/{{paypal_data.transaction_id}}</a><br>
            </h6><br>
            {{#items}}
            <ul>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-4">
                      <img class="img-fluid" src="{{thumbnail}}" alt="{{description}}">
                    </div>
                    <div class="col-8">
                    {{description}}
                    </div>
                  </div>
                </div>
                <br>
                <span class="font-weight-bold">Location: </span>{{item_location}}<br>
              </li>
            </ul>
            {{/items}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
